<% if @compiler.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@compiler.errors.count, "error") %> prohibited this compiler from being saved:</h2>

    <ul>
    <% @compiler.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
