body
{
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-color: #222;
}

.container {
    max-width: 600px;
}

.title{
    margin: .75em auto;
    text-align: center;
}

.tab-heads, .tab-contents
{
    list-style: none;
}

.tab-heads
{
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.tab-head
{
    display: table-cell;
    line-height: 2.5;
    margin: 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #D1D1D1;
}

.tab-head.active
{
    border-width: 1px 1px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.tab-handle
{
    text-decoration: none;
    color: #222;
}
a,.tab-handle:hover
{
    cursor: pointer;
}

.tab-contents
{
    margin: 0;
}

.tab-content:not(.active)
{
    display: none;
}

.drop-area:hover
{
    cursor: default;
}

textarea#source
{
    height: 150px;
    resize: vertical;
}

.button.download
{
    float: right;
}

.footer
{
    border-top: 1px solid #D1D1D1;
}

.footer-text
{
    text-align: center;
    margin: 0;
}

.SNS-links
{
    list-style:none;
    text-align: center;
}

.SNS-link
{
    display: inline;
    margin: 0 .25em;
}

.SNS-link a
{
    color: #555;
}

.SNS-link a:hover
{
    opacity: .7;
}
